<div class="container">
    <div class="login_container">
        <form action="#!" id="main">
            <h1>Register your account</h1>
            <br>
            <br>
            <div class="input-parent">
              <label for="username">Username or Email</label>
              <br>
              <input class="input_box" type="text" id="username">
              <br>
            </div>
            <br>
            <div class="input-parent">
              <label for="password">Password</label>
              <br>
              <input class="input_box" type="password" id="password">
              <br>
              
            </div>
            <br>
            <div class="input-parent">
                <label for="password2">Confirm Password</label>
                <br>
                <input class="input_box" type="password" id="password2">
                <br>
            </div>
            <br>
            <div class="buttons">
                <button class="btn" type="submit" >Register</button>
            </div>
          </form>
    </div>
  </div>